{% extends "base.html" %}

{% load i18n %}

{% block head_title %}Cookie {{ object.full_name }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 breadcrumb">
      <h4><a href="{{ object.owner.get_absolute_url }}">{{ object.owner_name }}</a></h4>
      <h3>{{ object.name }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      {{ object.description|urlize }}
    </div>
    <div class="col-md-2 text-right">
      <a href="{{ object.url }}">View on {{ object.backend }}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <strong>{% trans "Last commit" %}</strong>
      <hr><small>{{ object.last_change|date:"DATETIME_FORMAT" }}</small>
      <br><br>
      {% if object.last_poll %}
        <strong>{% trans "Last poll" %}</strong>
        <hr><small>{{ object.last_poll|date:"DATETIME_FORMAT" }}</small>
        <br><br>
      {% endif %}
      {% if object.license %}
        <strong>{% trans "License" %}</strong>
        <hr><small>{{ object.license }}</small>
        <br><br>
      {% endif %}
      {% if object.language %}
        <strong>{% trans "Language" %}</strong>
        <hr><small>{{ object.language }}</small>
        <br><br>
      {% endif %}
      <strong>{% trans "Stats" %}</strong>
      <hr />
      <table>
        <tbody>
          <tr>
            <td><small>Watchers</small></td>
            <td><span class="badge">{{ object.repo_watchers }}</span></td>
          </tr>
          <tr>
            <td><small>Forks</small></td>
            <td><span class="badge">{{ object.repo_forks }}</span></td>
          </tr>
          <tr>
            <td><small>Votes</small></td>
            <td><span class="badge">{{ object.votes.count }}</span></td>
          </tr>
        </tbody>
      </table>
      <br>
      {% if object.homepage %}
        <strong>{% trans "Homepage" %}</strong>
        <hr><small>{{ object.homepage }}</small>
        <br><br>
      {% endif %}
      {% if object.language %}
        <strong>{% trans "Participants" %}</strong>
        <hr><small>{{ object.participants }}</small>
        <br><br>
      {% endif %}
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          <strong>{% trans "cookiecutter file" %}</strong>
          <hr>
          <pre>{{ object.mapping_pretty }}</pre>
          <br><br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <strong>{% trans "Clone URLs" %}</strong>
          <hr>
          <table>
            <tbody>
              {% for key, value in object.clone_urls.items %}
                <tr>
                  <td>{{ key }}:</td>
                  <td>{{ value }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <strong>{% trans "Actions" %}</strong>
          <hr>
          {% if request.user.is_authenticated %}
            {% if has_voted %}
              <form action="{% url 'socialize:unvote' %}?next={{ request.get_full_path }}" method="POST" class="inline-form">
                {% csrf_token %}
                <input type="hidden" name="c" value="{{ cookie.id }}">
                <input type="submit" value="Unvote" class="btn btn-primary">
              </form>
            {% else %}
              <form action="{% url 'socialize:vote' %}?next={{ request.get_full_path }}" method="POST" class="inline-form">
                {% csrf_token %}
                <input type="hidden" name="c" value="{{ cookie.id }}">
                <input type="submit" value="Vote" class="btn btn-default">
              </form>
            {% endif %}
            <form action="{% url 'cookies:fork' object.owner_name object.name %}?next={{ request.get_full_path }}" method="POST" class="form-inline">
              {% csrf_token %}
              <input type="hidden" name="c" value="{{ cookie.id }}">
              <input type="submit" value="Fork on GitHub" class="btn btn-primary">
            </form>
          {% else %}
            {% trans "Please log in first" %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
