{% extends "base.html" %}

{% block content %}
<div class="cookie-detail">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 breadcrumb">
            <span><a href="#">{{ object.owner_name}}</a></span><!-- TODO: Fix link -->
            <span class="active">{{ object.name }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 description">
            {{ object.description }}
        </div>
    </div>
</div>
{% endblock content %}
