{% extends "admin/login.html" %}
{% load url from future %}
{% load static from staticfiles %}

{% block extrastyle %}
<link rel="stylesheet/less" type="text/css" href="{% static 'less/bakery.less' %}" />
{% endblock %}

{% block content %}
{% url "socialauth_begin" backend="google-oauth" as login_url %}
{% if user.is_authenticated and user.is_active and not user.is_staff %}
    <p>
        You are logged in as: <br />
        {{ user.email }} <br />
        (username "{{ user.username }}"), <br />
        which is not a staff user. Please log in using another email, or ask an
        administrator to set staff status for you.
    </p>
{% endif %}

<p>
    <a class="btn btn-default color2a" id="github-login" href="{% url 'social:begin' 'github' %}"
        title="Sign in with Github">
        Login with Github!
    </a>
</p>

<script src="{% static 'js/vendor/less.min.js' %}"></script>

{% endblock %}
