.btn {
  color: #ffffff;
  color: #fff7f0;
  background: #cf6400;
  border: 1px solid transparent;
  border-top-color: #dd924d;
  -webkit-box-shadow: 0 1px 2px rgba(35, 26, 17, 0.1);
          box-shadow: 0 1px 2px rgba(35, 26, 17, 0.1);
}

.btn:active,
.btn.active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  color: #fff7f0;
  background: #d96900;
  border: 1px solid transparent;
  border-top-color: #e4964d;
}

.btn:active,
.btn.active {
  color: #f3d8bf;
  background: #c45f00;
  border: 1px solid #c45f00;
}

.btn.color1 {
  color: #ffffff;
  color: #fff7f0;
  background: #ca6304;
  border: 1px solid transparent;
  border-top-color: #da924f;
}

.btn.color1:hover,
.btn.color1:focus {
  color: #ffffff;
  color: #fff7f0;
  background: #d46804;
  border: 1px solid transparent;
  border-top-color: #e1954f;
}

.btn.color1:active,
.btn.color1.active {
  color: #f2d8c0;
  background: #c05e04;
  border: 1px solid #c05e04;
}

.btn.color1a {
  color: #ffffff;
  color: #fff7f0;
  background: #a14e00;
  border: 1px solid transparent;
  border-top-color: #bd834d;
}

.btn.color1a:hover,
.btn.color1a:focus {
  color: #ffffff;
  color: #fff7f0;
  background: #ab5300;
  border: 1px solid transparent;
  border-top-color: #c4864d;
}

.btn.color1a:active,
.btn.color1a.active {
  color: #e7d3bf;
  background: #964900;
  border: 1px solid #964900;
}

.btn.color1b {
  color: #ffffff;
  color: #fff7f0;
  background: #cf6400;
  border: 1px solid transparent;
  border-top-color: #dd924d;
}

.btn.color1b:hover,
.btn.color1b:focus {
  color: #ffffff;
  color: #fff7f0;
  background: #d96900;
  border: 1px solid transparent;
  border-top-color: #e4964d;
}

.btn.color1b:active,
.btn.color1b.active {
  color: #f3d8bf;
  background: #c45f00;
  border: 1px solid #c45f00;
}

.btn.color1c {
  color: #ffffff;
  color: #fff7f0;
  background: #f78113;
  border: 1px solid transparent;
  border-top-color: #f9a75a;
}

.btn.color1c:hover,
.btn.color1c:focus {
  color: #ffffff;
  color: #fff7f0;
  background: #f7871d;
  border: 1px solid transparent;
  border-top-color: #faab61;
}

.btn.color1c:active,
.btn.color1c.active {
  color: #fde0c4;
  background: #f67c0a;
  border: 1px solid #f67c0a;
}

.btn.color2 {
  color: #2e3612;
  color: #3d4c0a;
  background: #aee105;
  border: 1px solid transparent;
  border-top-color: #c6ea50;
}

.btn.color2:hover,
.btn.color2:focus {
  color: #2e3612;
  color: #3d4c0a;
  background: #b5eb05;
  border: 1px solid transparent;
  border-top-color: #cbf150;
}

.btn.color2:active,
.btn.color2.active {
  color: #6a8809;
  background: #a6d704;
  border: 1px solid #a6d704;
}

.btn.color2:hover,
.btn.color2:focus {
  color: #2e3612;
  color: #3d4c0a;
  background: #b5eb05;
}

.btn.color2:active,
.btn.color2.active {
  background: #a6d704;
  border: 1px solid #a6d704;
}

.btn.color2a {
  color: #ffffff;
  color: #fbfff0;
  background: #7ba100;
  border: 1px solid transparent;
  border-top-color: #a3bd4d;
}

.btn.color2a:hover,
.btn.color2a:focus {
  color: #ffffff;
  color: #fbfff0;
  background: #83ab00;
  border: 1px solid transparent;
  border-top-color: #a8c44d;
}

.btn.color2a:active,
.btn.color2a.active {
  color: #dee7bf;
  background: #739600;
  border: 1px solid #739600;
}

.btn.color2b {
  color: #ffffff;
  color: #fbfff0;
  background: #9ecf00;
  border: 1px solid transparent;
  border-top-color: #bbdd4d;
}

.btn.color2b:hover,
.btn.color2b:focus {
  color: #ffffff;
  color: #fbfff0;
  background: #a6d900;
  border: 1px solid transparent;
  border-top-color: #c1e44d;
}

.btn.color2b:active,
.btn.color2b.active {
  color: #e7f3bf;
  background: #97c400;
  border: 1px solid #97c400;
}

.btn.color2c {
  color: #3b4813;
  color: #4a5d0b;
  background: #c2f713;
  border: 1px solid transparent;
  border-top-color: #d4f95a;
}

.btn.color2c:hover,
.btn.color2c:focus {
  color: #3b4813;
  color: #4a5d0b;
  background: #c4f71d;
  border: 1px solid transparent;
  border-top-color: #d6fa61;
}

.btn.color2c:active,
.btn.color2c.active {
  color: #7b9d0b;
  background: #bff60a;
  border: 1px solid #bff60a;
}

.btn.color2c:hover,
.btn.color2c:focus {
  color: #3b4813;
  color: #4a5d0b;
  background: #c4f71d;
}

.btn.color2c:active,
.btn.color2c.active {
  background: #bff60a;
  border: 1px solid #bff60a;
}

.btn.color3 {
  color: #ffffff;
  color: #fff0f4;
  background: #e1053f;
  border: 1px solid transparent;
  border-top-color: #ea5079;
}

.btn.color3:hover,
.btn.color3:focus {
  color: #ffffff;
  color: #fff0f4;
  background: #eb0542;
  border: 1px solid transparent;
  border-top-color: #f1507b;
}

.btn.color3:active,
.btn.color3.active {
  color: #f7c0cf;
  background: #d7043d;
  border: 1px solid #d7043d;
}

.btn.color3a {
  color: #ffffff;
  color: #fff0f4;
  background: #a1002b;
  border: 1px solid transparent;
  border-top-color: #bd4d6a;
}

.btn.color3a:hover,
.btn.color3a:focus {
  color: #ffffff;
  color: #fff0f4;
  background: #ab002e;
  border: 1px solid transparent;
  border-top-color: #c44d6c;
}

.btn.color3a:active,
.btn.color3a.active {
  color: #e7bfca;
  background: #960028;
  border: 1px solid #960028;
}

.btn.color3b {
  color: #ffffff;
  color: #fff0f4;
  background: #cf0037;
  border: 1px solid transparent;
  border-top-color: #dd4d73;
}

.btn.color3b:hover,
.btn.color3b:focus {
  color: #ffffff;
  color: #fff0f4;
  background: #d9003a;
  border: 1px solid transparent;
  border-top-color: #e44d75;
}

.btn.color3b:active,
.btn.color3b.active {
  color: #f3bfcd;
  background: #c40034;
  border: 1px solid #c40034;
}

.btn.color3c {
  color: #ffffff;
  color: #fff0f4;
  background: #f71350;
  border: 1px solid transparent;
  border-top-color: #f95a85;
}

.btn.color3c:hover,
.btn.color3c:focus {
  color: #ffffff;
  color: #fff0f4;
  background: #f71d57;
  border: 1px solid transparent;
  border-top-color: #fa618a;
}

.btn.color3c:active,
.btn.color3c.active {
  color: #fdc4d3;
  background: #f60a49;
  border: 1px solid #f60a49;
}

.btn.color4 {
  color: #ffffff;
  color: #f0f8ff;
  background: #0576e1;
  border: 1px solid transparent;
  border-top-color: #509fea;
}

.btn.color4:hover,
.btn.color4:focus {
  color: #ffffff;
  color: #f0f8ff;
  background: #057ceb;
  border: 1px solid transparent;
  border-top-color: #50a3f1;
}

.btn.color4:active,
.btn.color4.active {
  color: #c0ddf7;
  background: #0471d7;
  border: 1px solid #0471d7;
}

.btn.color4a {
  color: #ffffff;
  color: #f0f8ff;
  background: #0053a1;
  border: 1px solid transparent;
  border-top-color: #4d87bd;
}

.btn.color4a:hover,
.btn.color4a:focus {
  color: #ffffff;
  color: #f0f8ff;
  background: #0058ab;
  border: 1px solid transparent;
  border-top-color: #4d8ac4;
}

.btn.color4a:active,
.btn.color4a.active {
  color: #bfd4e7;
  background: #004e96;
  border: 1px solid #004e96;
}

.btn.color4b {
  color: #ffffff;
  color: #f0f8ff;
  background: #006bcf;
  border: 1px solid transparent;
  border-top-color: #4d97dd;
}

.btn.color4b:hover,
.btn.color4b:focus {
  color: #ffffff;
  color: #f0f8ff;
  background: #0070d9;
  border: 1px solid transparent;
  border-top-color: #4d9be4;
}

.btn.color4b:active,
.btn.color4b.active {
  color: #bfdaf3;
  background: #0065c4;
  border: 1px solid #0065c4;
}

.btn.color4c {
  color: #ffffff;
  color: #f0f8ff;
  background: #1389f7;
  border: 1px solid transparent;
  border-top-color: #5aacf9;
}

.btn.color4c:hover,
.btn.color4c:focus {
  color: #ffffff;
  color: #f0f8ff;
  background: #1d8ef7;
  border: 1px solid transparent;
  border-top-color: #61b0fa;
}

.btn.color4c:active,
.btn.color4c.active {
  color: #c4e1fd;
  background: #0a84f6;
  border: 1px solid #0a84f6;
}

.btn.btn-primary {
  color: #ffffff;
  color: #f0f8ff;
  background: #057ae1;
  border: 1px solid transparent;
  border-top-color: #50a2ea;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  color: #ffffff;
  color: #f0f8ff;
  background: #0580eb;
  border: 1px solid transparent;
  border-top-color: #50a6f1;
}

.btn.btn-primary:active,
.btn.btn-primary.active {
  color: #c0def7;
  background: #0475d7;
  border: 1px solid #0475d7;
}

.btn.btn-info {
  color: #ffffff;
  color: #f0fbff;
  background: #05aee1;
  border: 1px solid transparent;
  border-top-color: #50c6ea;
}

.btn.btn-info:hover,
.btn.btn-info:focus {
  color: #ffffff;
  color: #f0fbff;
  background: #05b5eb;
  border: 1px solid transparent;
  border-top-color: #50cbf1;
}

.btn.btn-info:active,
.btn.btn-info.active {
  color: #c0ebf7;
  background: #04a6d7;
  border: 1px solid #04a6d7;
}

.btn.btn-success {
  color: #ffffff;
  color: #f0fff0;
  background: #28cf28;
  border: 1px solid transparent;
  border-top-color: #69de69;
}

.btn.btn-success:hover,
.btn.btn-success:focus {
  color: #ffffff;
  color: #f0fff0;
  background: #2cd62c;
  border: 1px solid transparent;
  border-top-color: #6be26b;
}

.btn.btn-success:active,
.btn.btn-success.active {
  color: #c9f3c9;
  background: #27c727;
  border: 1px solid #27c727;
}

.btn.btn-warning {
  color: #ffffff;
  color: #fff9f0;
  background: #fd9b12;
  border: 1px solid transparent;
  border-top-color: #fdb959;
}

.btn.btn-warning:hover,
.btn.btn-warning:focus {
  color: #ffffff;
  color: #fff9f0;
  background: #fd9f1c;
  border: 1px solid transparent;
  border-top-color: #fdbc60;
}

.btn.btn-warning:active,
.btn.btn-warning.active {
  color: #fee6c4;
  background: #fd9608;
  border: 1px solid #fd9608;
}

.btn.btn-danger {
  color: #ffffff;
  color: #fff0f0;
  background: #e32019;
  border: 1px solid transparent;
  border-top-color: #ec635e;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus {
  color: #ffffff;
  color: #fff0f0;
  background: #e62720;
  border: 1px solid transparent;
  border-top-color: #ee6863;
}

.btn.btn-danger:active,
.btn.btn-danger.active {
  color: #f8c7c6;
  background: #da1f18;
  border: 1px solid #da1f18;
}

.btn.btn-inverse {
  color: #ffffff;
  color: #fff0f0;
  background: #505050;
  border: 1px solid transparent;
  border-top-color: #858585;
}

.btn.btn-inverse:hover,
.btn.btn-inverse:focus {
  color: #ffffff;
  color: #fff0f0;
  background: #555555;
  border: 1px solid transparent;
  border-top-color: #888888;
}

.btn.btn-inverse:active,
.btn.btn-inverse.active {
  color: #d3d3d3;
  background: #4b4b4b;
  border: 1px solid #4b4b4b;
}

body,
html {
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
          font-smoothing: antialiased;
  color: #ffffff;
  color: #fff7f0;
  background: #ca6304;
}

a {
  color: #f2d8c0;
}

a:hover {
  color: #f2d8c0;
}

blockquote {
  padding: 6px 8px;
  color: #ffffff;
  color: #fff7f0;
  background: #f78113;
  border-left: 4px solid #a14e00;
}

blockquote cite {
  font-style: italic;
}

blockquote.pull-right {
  border-right: 4px solid #a14e00;
  border-left: none;
}

blockquote small {
  color: #ffffff;
  color: #fff7f0;
  text-shadow: none;
}

blockquote.color1 {
  color: #ffffff;
  color: #fff7f0;
  background: #f78113;
  border-left: 4px solid #a14e00;
}

blockquote.color1.pull-right {
  border-right: 4px solid #a14e00;
  border-left: none;
}

blockquote.color1 small {
  color: #ffffff;
  color: #fff7f0;
  text-shadow: none;
}

blockquote.color2 {
  color: #3b4813;
  color: #4a5d0b;
  background: #c2f713;
  border-left: 4px solid #7ba100;
}

blockquote.color2.pull-right {
  border-right: 4px solid #7ba100;
  border-left: none;
}

blockquote.color2 small {
  color: #3b4813;
  color: #4a5d0b;
  text-shadow: none;
}

blockquote.color3 {
  color: #ffffff;
  color: #fff0f4;
  background: #f71350;
  border-left: 4px solid #a1002b;
}

blockquote.color3.pull-right {
  border-right: 4px solid #a1002b;
  border-left: none;
}

blockquote.color3 small {
  color: #ffffff;
  color: #fff0f4;
  text-shadow: none;
}

blockquote.color4 {
  color: #ffffff;
  color: #f0f8ff;
  background: #1389f7;
  border-left: 4px solid #0053a1;
}

blockquote.color4.pull-right {
  border-right: 4px solid #0053a1;
  border-left: none;
}

blockquote.color4 small {
  color: #ffffff;
  color: #f0f8ff;
  text-shadow: none;
}

/*input[type="checkbox"] { //experimental flat look for checkboxes
    margin-right:13px;
    margin-top:5px;
    background:white;

    &:before {
        display:block;
        content:"";
        width:22px;
        height:22px;
        //border:2px solid @1pxdeep-bg;
        border-radius:@border-radius-base;
        background:white;
        position:relative;
        top:-4px;
        left:-1px;
        .box-shadow(inset 1px 1px 0px @1pxdeep-bg);
    }

    &:checked {
        &:after {
            display:block;
            content:"";
            width:8px;
            height:13px;
            border-radius:0;
            background:white;
            position:relative;
            top:-23px;
            left:7px;
            .box-shadow(inset -3px -3px 0px @1pxdeep-bg);
            border:none;
            border-radius:0;
            .rotate(45deg);
        }
    }
}*/

.form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
  color: inherit;
}

.dropdown-menu {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dropdown-menu li {
  border: none;
}

.dropdown-menu li:hover a {
  color: #ffffff;
  color: #fff7f0;
  background: #cf6400;
}

.dropdown-menu.color1 li:hover a {
  color: #ffffff;
  color: #fff7f0;
  background: #cf6400;
}

.dropdown-menu.color2 li:hover a {
  color: #ffffff;
  color: #fbfff0;
  background: #9ecf00;
}

.dropdown-menu.color3 li:hover a {
  color: #ffffff;
  color: #fff0f4;
  background: #cf0037;
}

.dropdown-menu.color4 li:hover a {
  color: #ffffff;
  color: #f0f8ff;
  background: #006bcf;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: none;
  border-bottom-color: white;
}

.btn-default .caret {
  border-top-color: white;
}

.well {
  color: #ffffff;
  color: #fff7f0;
  background: #a14e00;
  border: none;
  -webkit-box-shadow: inset 0 0px 3px rgba(35, 26, 17, 0.25);
          box-shadow: inset 0 0px 3px rgba(35, 26, 17, 0.25);
}

.well a {
  color: #f2d8c0;
}

.navbar {
  color: #ffffff;
  color: #fff7f0;
  background: #a14e00;
  border: none;
}

.navbar.color1 {
  color: #ffffff;
  color: #fff7f0;
  background: #a14e00;
}

.navbar.color2 {
  color: #ffffff;
  color: #fbfff0;
  background: #7ba100;
}

.navbar.color3 {
  color: #ffffff;
  color: #fff0f4;
  background: #a1002b;
}

.navbar.color4 {
  color: #ffffff;
  color: #f0f8ff;
  background: #0053a1;
}

.navbar-brand {
  color: inherit;
}

.navbar-nav .active {
  overflow-y: hidden;
}

.navbar-nav .active > a {
  color: #ffffff;
  color: #fff7f0;
  background-color: #ca6304;
  -webkit-box-shadow: 0 1px 2px rgba(35, 26, 17, 0.5);
          box-shadow: 0 1px 2px rgba(35, 26, 17, 0.5);
}

.navbar-nav .active > a:hover {
  color: #ffffff;
  color: #fff7f0;
  background-color: #ca6304;
}

.navbar-nav li > a {
  z-index: 100;
  line-height: 25px;
  color: #e5d2c0;
}

.navbar-nav li > a:hover,
.navbar-nav li > a:focus {
  color: #ffffff;
  color: #fff7f0;
  background-color: #de6d04;
}

.navbar-nav.color1 .active > a {
  color: #ffffff;
  color: #fff7f0;
  background-color: #ca6304;
  -webkit-box-shadow: 0 1px 2px rgba(35, 26, 17, 0.5);
          box-shadow: 0 1px 2px rgba(35, 26, 17, 0.5);
}

.navbar-nav.color1 .active > a:hover {
  color: #ffffff;
  color: #fff7f0;
  background-color: #ca6304;
}

.navbar-nav.color1 li > a {
  z-index: 100;
  line-height: 25px;
  color: #e5d2c0;
}

.navbar-nav.color1 li > a:hover,
.navbar-nav.color1 li > a:focus {
  color: #ffffff;
  color: #fff7f0;
  background-color: #de6d04;
}

.navbar-nav.color2 .active > a {
  color: #2e3612;
  color: #3d4c0a;
  background-color: #aee105;
  -webkit-box-shadow: 0 1px 2px rgba(35, 26, 17, 0.5);
          box-shadow: 0 1px 2px rgba(35, 26, 17, 0.5);
}

.navbar-nav.color2 .active > a:hover {
  color: #2e3612;
  color: #3d4c0a;
  background-color: #aee105;
}

.navbar-nav.color2 li > a {
  z-index: 100;
  line-height: 25px;
  color: #e1ebc0;
}

.navbar-nav.color2 li > a:hover,
.navbar-nav.color2 li > a:focus {
  color: #364012;
  color: #44560a;
  background-color: #bdf505;
}

.navbar-nav.color3 .active > a {
  color: #ffffff;
  color: #fff0f4;
  background-color: #e1053f;
  -webkit-box-shadow: 0 1px 2px rgba(35, 26, 17, 0.5);
          box-shadow: 0 1px 2px rgba(35, 26, 17, 0.5);
}

.navbar-nav.color3 .active > a:hover {
  color: #ffffff;
  color: #fff0f4;
  background-color: #e1053f;
}

.navbar-nav.color3 li > a {
  z-index: 100;
  line-height: 25px;
  color: #ebc0cc;
}

.navbar-nav.color3 li > a:hover,
.navbar-nav.color3 li > a:focus {
  color: #ffffff;
  color: #fff0f4;
  background-color: #f50545;
}

.navbar-nav.color4 .active > a {
  color: #ffffff;
  color: #f0f8ff;
  background-color: #0576e1;
  -webkit-box-shadow: 0 1px 2px rgba(35, 26, 17, 0.5);
          box-shadow: 0 1px 2px rgba(35, 26, 17, 0.5);
}

.navbar-nav.color4 .active > a:hover {
  color: #ffffff;
  color: #f0f8ff;
  background-color: #0576e1;
}

.navbar-nav.color4 li > a {
  z-index: 100;
  line-height: 25px;
  color: #c0d6eb;
}

.navbar-nav.color4 li > a:hover,
.navbar-nav.color4 li > a:focus {
  color: #ffffff;
  color: #f0f8ff;
  background-color: #0581f5;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  -webkit-box-shadow: inset 0 0px 3px rgba(35, 26, 17, 0.2);
          box-shadow: inset 0 0px 3px rgba(35, 26, 17, 0.2);
}

.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  padding: 0;
}

.navbar-toggle {
  background-color: #ca6304;
  border: 1px solid transparent;
  border-top-color: #da924f;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: #d46804;
}

.navbar-toggle:active,
.navbar-toggle .active {
  background-color: #c05e04;
  border-top-color: #c05e04;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-collapse {
  border-top: none;
}

.nav-pills {
  color: black;
  text-shadow: none;
}

.nav-pills > li > a:hover {
  color: #ffffff;
  color: #fff7f0;
  background: #fa7c07;
}

.nav-pills > li.active > a {
  color: #ffffff;
  color: #fff7f0;
  background: #f78113;
}

.nav-pills > li.active > a:hover {
  color: #ffffff;
  color: #fff7f0;
  background: #f7871d;
}

.nav-pills.color1 > li > a:hover {
  color: #ffffff;
  color: #fff7f0;
  background: #fa7c07;
}

.nav-pills.color1 > li.active > a {
  color: #ffffff;
  color: #fff7f0;
  background: #f78113;
}

.nav-pills.color1 > li.active > a:hover {
  color: #ffffff;
  color: #fff7f0;
  background: #f7871d;
}

.nav-pills.color2 > li > a:hover {
  color: #414f12;
  color: #50650a;
  background: #c7fa1e;
}

.nav-pills.color2 > li.active > a {
  color: #3b4813;
  color: #4a5d0b;
  background: #c2f713;
}

.nav-pills.color2 > li.active > a:hover {
  color: #3f4d13;
  color: #4e620c;
  background: #c4f71d;
}

.nav-pills.color3 > li > a:hover {
  color: #ffffff;
  color: #fff0f4;
  background: #fa1e59;
}

.nav-pills.color3 > li.active > a {
  color: #3b4813;
  color: #4a5d0b;
  background: #c2f713;
}

.nav-pills.color3 > li.active > a:hover {
  color: #3f4d13;
  color: #4e620c;
  background: #c4f71d;
}

.nav-pills.color4 > li > a:hover {
  color: #ffffff;
  color: #f0f8ff;
  background: #1e90fa;
}

.nav-pills.color4 > li.active > a {
  color: #3b4813;
  color: #4a5d0b;
  background: #c2f713;
}

.nav-pills.color4 > li.active > a:hover {
  color: #3f4d13;
  color: #4e620c;
  background: #c4f71d;
}

.alert {
  color: #888a35;
  color: #828349;
  color: #5b5e1a;
  color: #6e7115;
  text-shadow: none;
  background: #fbfcd6;
  background: #e7ec58;
  border: none;
}

.alert .close {
  margin-top: -1px;
  text-shadow: none;
  opacity: 100;
  filter: alpha(opacity=10000);
}

.alert .close {
  color: #888a35;
  color: #828349;
}

.alert .close {
  color: #5b5e1a;
  color: #6e7115;
}

.alert.color1 {
  color: #ffffff;
  color: #fff7f0;
  background: #ca6304;
}

.alert.color1 .close {
  color: #ffffff;
  color: #fff7f0;
}

.alert.color2 {
  color: #2e3612;
  color: #3d4c0a;
  background: #aee105;
}

.alert.color2 .close {
  color: #2e3612;
  color: #3d4c0a;
}

.alert.color3 {
  color: #ffffff;
  color: #fff0f4;
  background: #e1053f;
}

.alert.color3 .close {
  color: #ffffff;
  color: #fff0f4;
}

.alert.color4 {
  color: #ffffff;
  color: #f0f8ff;
  background: #0576e1;
}

.alert.color4 .close {
  color: #ffffff;
  color: #f0f8ff;
}

.alert.alert-error,
.alert.alert-danger {
  color: #ffffff;
  color: #fff0f0;
  background: #ee5f5b;
  background: #e62d27;
}

.alert.alert-error .close,
.alert.alert-danger .close {
  color: #ffffff;
  color: #fff0f0;
}

.alert.alert-error .close,
.alert.alert-danger .close {
  color: #ffffff;
  color: #fff0f0;
}

.alert.alert-info {
  color: #ffffff;
  color: #f0faff;
  background: #0088cc;
  background: #0391d9;
}

.alert.alert-info .close {
  color: #ffffff;
  color: #f0faff;
}

.alert.alert-info .close {
  color: #ffffff;
  color: #f0faff;
}

.alert.alert-success {
  color: #ffffff;
  color: #f0fff0;
  background: #62c462;
  background: #2ad52a;
}

.alert.alert-success .close {
  color: #ffffff;
  color: #f0fff0;
}

.alert.alert-success .close {
  color: #ffffff;
  color: #f0fff0;
}

.progress {
  background: #b15704;
  -webkit-box-shadow: inset 0 0px 3px rgba(35, 26, 17, 0.2);
          box-shadow: inset 0 0px 3px rgba(35, 26, 17, 0.2);
}

.progress.color1 {
  background: #b15704;
}

.progress.color2 {
  background: #9ac804;
}

.progress.color3 {
  background: #c80438;
}

.progress.color4 {
  background: #0469c8;
}

.progress-bar {
  color: #ffffff;
  color: #fff7f0;
  background: #f78113;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.progress-bar.color1 {
  color: #ffffff;
  color: #fff7f0;
  background: #f78113;
}

.progress-bar.color2 {
  color: #3b4813;
  color: #4a5d0b;
  background: #c2f713;
}

.progress-bar.color3 {
  color: #ffffff;
  color: #fff0f4;
  background: #f71350;
}

.progress-bar.color4 {
  color: #ffffff;
  color: #f0f8ff;
  background: #1389f7;
}

.progress-bar.progress-bar-success {
  color: #ffffff;
  color: #f0fff0;
  background: #28cf28;
}

.progress-bar.progress-bar-warning {
  color: #ffffff;
  color: #fff9f0;
  background: #fd9b12;
}

.progress-bar.progress-bar-danger {
  color: #ffffff;
  color: #fff0f0;
  background: #e32019;
}

.progress-bar.progress-bar-info {
  color: #ffffff;
  color: #f0fbff;
  background: #05aee1;
}

.accordion .accordion-heading {
  border-bottom: 0;
  border-radius: 6px;
}

.accordion .accordion-heading a:hover {
  text-decoration: none;
}

.accordion .accordion-group {
  border: none;
}

.accordion .accordion-inner {
  padding: 15px;
  margin: 12px;
  border-radius: 6px;
}

.accordion .accordion-heading {
  color: #ffffff;
  color: #fff7f0;
  background: #cf6400;
  border: 1px solid transparent;
  border-top-color: #dd924d;
}

.accordion .accordion-heading a {
  color: #ffffff;
  color: #fff7f0;
}

.accordion .accordion-inner {
  color: #ffffff;
  color: #fff7f0;
  background: #f78113;
}

.accordion.color1 .accordion-heading {
  color: #ffffff;
  color: #fff7f0;
  background: #cf6400;
  border: 1px solid transparent;
  border-top-color: #dd924d;
}

.accordion.color1 .accordion-heading a {
  color: #ffffff;
  color: #fff7f0;
}

.accordion.color1 .accordion-inner {
  color: #ffffff;
  color: #fff7f0;
  background: #f78113;
}

.accordion.color2 .accordion-heading {
  color: #ffffff;
  color: #fbfff0;
  background: #9ecf00;
  border: 1px solid transparent;
  border-top-color: #bbdd4d;
}

.accordion.color2 .accordion-heading a {
  color: #ffffff;
  color: #fbfff0;
}

.accordion.color2 .accordion-inner {
  color: #3b4813;
  color: #4a5d0b;
  background: #c2f713;
}

.accordion.color3 .accordion-heading {
  color: #ffffff;
  color: #fff0f4;
  background: #cf0037;
  border: 1px solid transparent;
  border-top-color: #dd4d73;
}

.accordion.color3 .accordion-heading a {
  color: #ffffff;
  color: #fff0f4;
}

.accordion.color3 .accordion-inner {
  color: #ffffff;
  color: #fff0f4;
  background: #f71350;
}

.accordion.color4 .accordion-heading {
  color: #ffffff;
  color: #f0f8ff;
  background: #006bcf;
  border: 1px solid transparent;
  border-top-color: #4d97dd;
}

.accordion.color4 .accordion-heading a {
  color: #ffffff;
  color: #f0f8ff;
}

.accordion.color4 .accordion-inner {
  color: #ffffff;
  color: #f0f8ff;
  background: #1389f7;
}

.jumbotron {
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  color: #ffffff;
  color: #fff7f0;
  background: #cf6400;
}

.jumbotron.color1 {
  color: #ffffff;
  color: #fff7f0;
  background: #cf6400;
}

.jumbotron.color2 {
  color: #ffffff;
  color: #fbfff0;
  background: #9ecf00;
}

.jumbotron.color3 {
  color: #ffffff;
  color: #fff0f4;
  background: #cf0037;
}

.jumbotron.color4 {
  color: #ffffff;
  color: #f0f8ff;
  background: #006bcf;
}

.jumbotron h1 {
  margin-bottom: 12px;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.breadcrumb {
  background: #cf6400;
}

.breadcrumb > .active {
  font-weight: bold;
}

.breadcrumb li {
  color: #ffffff;
  color: #fff7f0;
}

.breadcrumb li > a {
  color: #ffffff;
  color: #fff7f0;
}

.breadcrumb > .active {
  color: #ffffff;
  color: #fff7f0;
}

.breadcrumb.color1 {
  background: #cf6400;
}

.breadcrumb.color1 li {
  color: #ffffff;
  color: #fff7f0;
}

.breadcrumb.color1 li > a {
  color: #ffffff;
  color: #fff7f0;
}

.breadcrumb.color1 > .active {
  color: #ffffff;
  color: #fff7f0;
}

.breadcrumb.color2 {
  background: #9ecf00;
}

.breadcrumb.color2 li {
  color: #ffffff;
  color: #fbfff0;
}

.breadcrumb.color2 li > a {
  color: #ffffff;
  color: #fbfff0;
}

.breadcrumb.color2 > .active {
  color: #ffffff;
  color: #fbfff0;
}

.breadcrumb.color3 {
  background: #cf0037;
}

.breadcrumb.color3 li {
  color: #ffffff;
  color: #fff0f4;
}

.breadcrumb.color3 li > a {
  color: #ffffff;
  color: #fff0f4;
}

.breadcrumb.color3 > .active {
  color: #ffffff;
  color: #fff0f4;
}

.breadcrumb.color4 {
  background: #006bcf;
}

.breadcrumb.color4 li {
  color: #ffffff;
  color: #f0f8ff;
}

.breadcrumb.color4 li > a {
  color: #ffffff;
  color: #f0f8ff;
}

.breadcrumb.color4 > .active {
  color: #ffffff;
  color: #f0f8ff;
}

.pager > li > a {
  border: none;
}

.pager > li > a {
  color: #ffffff;
  color: #fff7f0;
  background: #cf6400;
}

.pager > li > a:hover,
.pager > li > a:focus {
  background-color: #d96900;
}

.pager > .disabled > a {
  color: #f3d8bf;
  background: #cf6400;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.pager > .disabled > a:hover,
.pager > .disabled > a:focus {
  color: #f3d8bf;
  background-color: #cf6400;
}

.pager.color1 > li > a {
  color: #ffffff;
  color: #fff7f0;
  background: #cf6400;
}

.pager.color1 > li > a:hover,
.pager.color1 > li > a:focus {
  background-color: #d96900;
}

.pager.color1 > .disabled > a {
  color: #f3d8bf;
  background: #cf6400;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.pager.color1 > .disabled > a:hover,
.pager.color1 > .disabled > a:focus {
  color: #f3d8bf;
  background-color: #cf6400;
}

.pager.color2 > li > a {
  color: #ffffff;
  color: #fbfff0;
  background: #9ecf00;
}

.pager.color2 > li > a:hover,
.pager.color2 > li > a:focus {
  background-color: #a6d900;
}

.pager.color2 > .disabled > a {
  color: #e7f3bf;
  background: #9ecf00;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.pager.color2 > .disabled > a:hover,
.pager.color2 > .disabled > a:focus {
  color: #e7f3bf;
  background-color: #9ecf00;
}

.pager.color3 > li > a {
  color: #ffffff;
  color: #fff0f4;
  background: #cf0037;
}

.pager.color3 > li > a:hover,
.pager.color3 > li > a:focus {
  background-color: #d9003a;
}

.pager.color3 > .disabled > a {
  color: #f3bfcd;
  background: #cf0037;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.pager.color3 > .disabled > a:hover,
.pager.color3 > .disabled > a:focus {
  color: #f3bfcd;
  background-color: #cf0037;
}

.pager.color4 > li > a {
  color: #ffffff;
  color: #f0f8ff;
  background: #006bcf;
}

.pager.color4 > li > a:hover,
.pager.color4 > li > a:focus {
  background-color: #0070d9;
}

.pager.color4 > .disabled > a {
  color: #bfdaf3;
  background: #006bcf;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.pager.color4 > .disabled > a:hover,
.pager.color4 > .disabled > a:focus {
  color: #bfdaf3;
  background-color: #006bcf;
}

.pager.disabled > li > a {
  color: #595959;
  color: #606060;
  background: #dddddd;
}

.pager.disabled > li > a:hover,
.pager.disabled > li > a:focus {
  background-color: #e2e2e2;
}

.pager.disabled > .disabled > a {
  color: #8d8d8d;
  background: #dddddd;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.pager.disabled > .disabled > a:hover,
.pager.disabled > .disabled > a:focus {
  color: #8d8d8d;
  background-color: #dddddd;
}

.pagination {
  background: none;
}

.pagination > li > a {
  color: #ffffff;
  color: #fff7f0;
  background: #cf6400;
  border: 1px solid transparent;
  border-top-color: #dd924d;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > a:active,
.pagination > .active > a,
.pagination > .active > span {
  color: #ffffff;
  color: #fff7f0;
  background-color: #d96900;
}

.pagination > .active > a,
.pagination > .active > span {
  color: #ffffff;
  color: #fff7f0;
  background-color: #f7871d;
}

.pagination.color1 > li > a {
  color: #ffffff;
  color: #fff7f0;
  background: #cf6400;
  border: 1px solid transparent;
  border-top-color: #dd924d;
}

.pagination.color1 > li > a:hover,
.pagination.color1 > li > a:focus,
.pagination.color1 > li > a:active,
.pagination.color1 > .active > a,
.pagination.color1 > .active > span {
  color: #ffffff;
  color: #fff7f0;
  background-color: #d96900;
}

.pagination.color1 > .active > a,
.pagination.color1 > .active > span {
  color: #ffffff;
  color: #fff7f0;
  background-color: #f7871d;
}

.pagination.color2 > li > a {
  color: #ffffff;
  color: #fbfff0;
  background: #9ecf00;
  border: 1px solid transparent;
  border-top-color: #bbdd4d;
}

.pagination.color2 > li > a:hover,
.pagination.color2 > li > a:focus,
.pagination.color2 > li > a:active,
.pagination.color2 > .active > a,
.pagination.color2 > .active > span {
  color: #293111;
  color: #384709;
  background-color: #a6d900;
}

.pagination.color2 > .active > a,
.pagination.color2 > .active > span {
  color: #3b4813;
  color: #4a5d0b;
  background-color: #c4f71d;
}

.pagination.color3 > li > a {
  color: #ffffff;
  color: #fff0f4;
  background: #cf0037;
  border: 1px solid transparent;
  border-top-color: #dd4d73;
}

.pagination.color3 > li > a:hover,
.pagination.color3 > li > a:focus,
.pagination.color3 > li > a:active,
.pagination.color3 > .active > a,
.pagination.color3 > .active > span {
  color: #ffffff;
  color: #fff0f4;
  background-color: #d9003a;
}

.pagination.color3 > .active > a,
.pagination.color3 > .active > span {
  color: #ffffff;
  color: #fff0f4;
  background-color: #f71d57;
}

.pagination.color4 > li > a {
  color: #ffffff;
  color: #f0f8ff;
  background: #006bcf;
  border: 1px solid transparent;
  border-top-color: #4d97dd;
}

.pagination.color4 > li > a:hover,
.pagination.color4 > li > a:focus,
.pagination.color4 > li > a:active,
.pagination.color4 > .active > a,
.pagination.color4 > .active > span {
  color: #ffffff;
  color: #f0f8ff;
  background-color: #0070d9;
}

.pagination.color4 > .active > a,
.pagination.color4 > .active > span {
  color: #ffffff;
  color: #f0f8ff;
  background-color: #1d8ef7;
}

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: inherit;
  background-color: inherit;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.thumbnail,
.img-thumbnail {
  background-color: #cf6400;
  border: 1px solid transparent;
}

.thumbnail .caption,
.img-thumbnail .caption {
  color: #ffffff;
  color: #fff7f0;
}

.thumbnail.color1,
.img-thumbnail.color1 {
  background-color: #cf6400;
}

.thumbnail.color1 .caption,
.img-thumbnail.color1 .caption {
  color: #ffffff;
  color: #fff7f0;
}

.thumbnail.color2,
.img-thumbnail.color2 {
  background-color: #9ecf00;
}

.thumbnail.color2 .caption,
.img-thumbnail.color2 .caption {
  color: #ffffff;
  color: #fbfff0;
}

.thumbnail.color3,
.img-thumbnail.color3 {
  background-color: #cf0037;
}

.thumbnail.color3 .caption,
.img-thumbnail.color3 .caption {
  color: #ffffff;
  color: #fff0f4;
}

.thumbnail.color4,
.img-thumbnail.color4 {
  background-color: #006bcf;
}

.thumbnail.color4 .caption,
.img-thumbnail.color4 .caption {
  color: #ffffff;
  color: #f0f8ff;
}

.form-horizontal {
  font-size: 18px;
}

legend {
  color: #ffffff;
  color: #fff7f0;
}

.help-block {
  color: #ffffff;
  color: #fff7f0;
}

.color1 legend {
  color: #ffffff;
  color: #fff7f0;
}

.color1 .help-block {
  color: #ffffff;
  color: #fff7f0;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group.col {
  float: none;
  padding-right: 0;
  padding-left: 0;
}

.input-group .form-control {
  width: 100%;
  margin-bottom: 0;
}

.input-group-addon {
  color: #ffffff;
  color: #fff7f0;
  background: #cf6400;
  border: none;
  border-radius: 6px;
}

.input-group-addon.color1 {
  color: #ffffff;
  color: #fff7f0;
  background: #cf6400;
}

code,
pre {
  font-size: 14px;
  color: #ffffff;
  color: #fff7f0;
  text-shadow: none;
  background: #f78113;
  border-color: #f78113;
}

code.color1,
pre.color1 {
  color: #ffffff;
  color: #fff7f0;
  background: #cf6400;
  border-color: #cf6400;
}

code.color2,
pre.color2 {
  color: #ffffff;
  color: #fbfff0;
  background: #9ecf00;
  border-color: #9ecf00;
}

code.color3,
pre.color3 {
  color: #ffffff;
  color: #fff0f4;
  background: #cf0037;
  border-color: #cf0037;
}

code.color4,
pre.color4 {
  color: #ffffff;
  color: #f0f8ff;
  background: #006bcf;
  border-color: #006bcf;
}

.label,
.badge {
  color: #ffffff;
  color: #fff7f0;
  text-shadow: none;
  background: #a14e00;
}

.label.color1,
.badge.color1 {
  color: #ffffff;
  color: #fff7f0;
  text-shadow: none;
  background: #ca6304;
}

.label.color2,
.badge.color2 {
  color: #2e3612;
  color: #3d4c0a;
  text-shadow: none;
  background: #aee105;
}

.label.color3,
.badge.color3 {
  color: #ffffff;
  color: #fff0f4;
  text-shadow: none;
  background: #e1053f;
}

.label.color4,
.badge.color4 {
  color: #ffffff;
  color: #f0f8ff;
  text-shadow: none;
  background: #0576e1;
}

.label.label-success,
.badge.label-success {
  color: #ffffff;
  color: #f0fff0;
  text-shadow: none;
  background: #28cf28;
}

.label.label-info,
.badge.label-info {
  color: #ffffff;
  color: #f0fbff;
  text-shadow: none;
  background: #05aee1;
}

.label.label-warning,
.badge.label-warning {
  color: #ffffff;
  color: #fff9f0;
  text-shadow: none;
  background: #fd9b12;
}

.label.label-danger,
.badge.label-danger {
  color: #ffffff;
  color: #fff0f0;
  text-shadow: none;
  background: #e32019;
}

.nav-tabs {
  border-bottom: 2px solid #f78113;
}

.nav-tabs > li > a {
  border: none;
}

.nav-tabs > li > a:hover {
  border: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
}

.nav-tabs > li > a:hover {
  background: #f7871d;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #ffffff;
  color: #fff7f0;
  background-color: #f78113;
}

.nav-tabs.color1 {
  border-bottom: 2px solid #a14e00;
}

.nav-tabs.color1 > li > a:hover {
  background: #ab5300;
}

.nav-tabs.color1 > li.active > a,
.nav-tabs.color1 > li.active > a:hover,
.nav-tabs.color1 > li.active > a:focus {
  color: #ffffff;
  color: #fff7f0;
  background-color: #a14e00;
}

.nav-tabs.color2 {
  border-bottom: 2px solid #7ba100;
}

.nav-tabs.color2 > li > a:hover {
  background: #83ab00;
}

.nav-tabs.color2 > li.active > a,
.nav-tabs.color2 > li.active > a:hover,
.nav-tabs.color2 > li.active > a:focus {
  color: #ffffff;
  color: #fbfff0;
  background-color: #7ba100;
}

.nav-tabs.color3 {
  border-bottom: 2px solid #a1002b;
}

.nav-tabs.color3 > li > a:hover {
  background: #ab002e;
}

.nav-tabs.color3 > li.active > a,
.nav-tabs.color3 > li.active > a:hover,
.nav-tabs.color3 > li.active > a:focus {
  color: #ffffff;
  color: #fff0f4;
  background-color: #a1002b;
}

.nav-tabs.color4 {
  border-bottom: 2px solid #0053a1;
}

.nav-tabs.color4 > li > a:hover {
  background: #0058ab;
}

.nav-tabs.color4 > li.active > a,
.nav-tabs.color4 > li.active > a:hover,
.nav-tabs.color4 > li.active > a:focus {
  color: #ffffff;
  color: #f0f8ff;
  background-color: #0053a1;
}

table {
  max-width: 100%;
  color: #ffffff;
  color: #fff7f0;
  text-shadow: none;
  background-color: #cf6400;
  border-collapse: collapse;
  border-color: transparent;
  border-spacing: 0;
  border-radius: 6px;
}

table thead > tr > th,
table tbody > tr > th,
table tfoot > tr > th,
table thead > tr > td,
table tbody > tr > td,
table tfoot > tr > td {
  border-top: none;
}

table tbody + tbody {
  border-top: none;
}

table.table th,
table.table td {
  border-top-color: #cf6400;
}

table.table tbody + tbody {
  border-top-color: #cf6400;
}

table.table-bordered {
  border: none;
}

table.table-striped tbody > tr:nth-child(odd) > td,
table.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #b05500;
}

table.table-hover tbody tr:hover > td,
table.table-hover tbody tr:hover > th {
  background-color: #e87000;
}

table.color1 {
  color: #ffffff;
  color: #fff7f0;
  background-color: #cf6400;
}

table.color1.table th,
table.color1.table td {
  border-top-color: #cf6400;
}

table.color1.table tbody + tbody {
  border-top-color: #cf6400;
}

table.color1.table-bordered {
  border: none;
}

table.color1.table-striped tbody > tr:nth-child(odd) > td,
table.color1.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #b05500;
}

table.color1.table-hover tbody tr:hover > td,
table.color1.table-hover tbody tr:hover > th {
  background-color: #e87000;
}

table.color2 {
  color: #ffffff;
  color: #fbfff0;
  background-color: #9ecf00;
}

table.color2.table th,
table.color2.table td {
  border-top-color: #9ecf00;
}

table.color2.table tbody + tbody {
  border-top-color: #9ecf00;
}

table.color2.table-bordered {
  border: none;
}

table.color2.table-striped tbody > tr:nth-child(odd) > td,
table.color2.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #87b000;
}

table.color2.table-hover tbody tr:hover > td,
table.color2.table-hover tbody tr:hover > th {
  background-color: #b2e800;
}

table.color3 {
  color: #ffffff;
  color: #fff0f4;
  background-color: #cf0037;
}

table.color3.table th,
table.color3.table td {
  border-top-color: #cf0037;
}

table.color3.table tbody + tbody {
  border-top-color: #cf0037;
}

table.color3.table-bordered {
  border: none;
}

table.color3.table-striped tbody > tr:nth-child(odd) > td,
table.color3.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #b0002f;
}

table.color3.table-hover tbody tr:hover > td,
table.color3.table-hover tbody tr:hover > th {
  background-color: #e8003e;
}

table.color4 {
  color: #ffffff;
  color: #f0f8ff;
  background-color: #006bcf;
}

table.color4.table th,
table.color4.table td {
  border-top-color: #006bcf;
}

table.color4.table tbody + tbody {
  border-top-color: #006bcf;
}

table.color4.table-bordered {
  border: none;
}

table.color4.table-striped tbody > tr:nth-child(odd) > td,
table.color4.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #005bb0;
}

table.color4.table-hover tbody tr:hover > td,
table.color4.table-hover tbody tr:hover > th {
  background-color: #0078e8;
}

hr {
  color: color1c;
  background: color1c;
  border-color: color1c;
}

hr.color1 {
  color: #f78113;
  background: #f78113;
  border-color: #f78113;
}

hr.color2 {
  color: #c2f713;
  background: #c2f713;
  border-color: #c2f713;
}

hr.color3 {
  color: #f71350;
  background: #f71350;
  border-color: #f71350;
}

hr.color4 {
  color: #1389f7;
  background: #1389f7;
  border-color: #1389f7;
}

.page-header {
  color: #ffffff;
  color: #fff7f0;
  border-color: #f78113;
  border-width: 2px;
}

.page-header small {
  color: #ffffff;
  color: #fff7f0;
}

.page-header.color1 {
  color: #ffffff;
  color: #fff7f0;
  border-color: #f78113;
}

.page-header.color1 small {
  color: #ffffff;
  color: #fff7f0;
}

.page-header.color2 {
  color: #ffffff;
  color: #fff7f0;
  border-color: #c2f713;
}

.page-header.color2 small {
  color: #ffffff;
  color: #fff7f0;
}

.page-header.color3 {
  color: #ffffff;
  color: #fff7f0;
  border-color: #f71350;
}

.page-header.color3 small {
  color: #ffffff;
  color: #fff7f0;
}

.page-header.color4 {
  color: #ffffff;
  color: #fff7f0;
  border-color: #1389f7;
}

.page-header.color4 small {
  color: #ffffff;
  color: #fff7f0;
}

.modal-dialog {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.modal-content {
  width: 100%;
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-header {
  width: 60%;
  padding-right: 0;
  padding-left: 0;
  margin-left: 20%;
  border: none;
}

.modal-header > .close {
  position: relative;
  top: -12px;
  right: -14px;
  padding: 14px;
  margin-top: 0;
  color: #ffffff;
  color: #fff7f0;
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal-title {
  margin-left: 0;
  color: #ffffff;
  color: #fff7f0;
}

.modal-body {
  width: 100%;
  padding-right: 20%;
  padding-left: 20%;
  margin: 0;
  color: #ffffff;
  color: #fff7f0;
  background: #ca6304;
  border-radius: 0;
}

.modal-body.color1 {
  color: #ffffff;
  color: #fff7f0;
  background: #ca6304;
}

.modal-body.color1a {
  color: #ffffff;
  color: #fff7f0;
  background: #a14e00;
}

.modal-body.color1b {
  color: #ffffff;
  color: #fff7f0;
  background: #cf6400;
}

.modal-body.color1c {
  color: #ffffff;
  color: #fff7f0;
  background: #f78113;
}

.modal-body.color2 {
  color: #2e3612;
  color: #3d4c0a;
  background: #aee105;
}

.modal-body.color2a {
  color: #ffffff;
  color: #fbfff0;
  background: #7ba100;
}

.modal-body.color2b {
  color: #ffffff;
  color: #fbfff0;
  background: #9ecf00;
}

.modal-body.color2c {
  color: #3b4813;
  color: #4a5d0b;
  background: #c2f713;
}

.modal-body.color3 {
  color: #ffffff;
  color: #fff0f4;
  background: #e1053f;
}

.modal-body.color3a {
  color: #ffffff;
  color: #fff0f4;
  background: #a1002b;
}

.modal-body.color3b {
  color: #ffffff;
  color: #fff0f4;
  background: #cf0037;
}

.modal-body.color3c {
  color: #ffffff;
  color: #fff0f4;
  background: #f71350;
}

.modal-body.color4 {
  color: #ffffff;
  color: #f0f8ff;
  background: #0576e1;
}

.modal-body.color4a {
  color: #ffffff;
  color: #f0f8ff;
  background: #0053a1;
}

.modal-body.color4b {
  color: #ffffff;
  color: #f0f8ff;
  background: #006bcf;
}

.modal-body.color4c {
  color: #ffffff;
  color: #f0f8ff;
  background: #1389f7;
}

.modal-footer {
  width: 60%;
  padding-right: 0;
  padding-left: 0;
  margin-top: 0;
  margin-left: 20%;
  background: transparent;
  border: none;
}

.modal-backdrop {
  background-color: #a14e00;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

.modal-backdrop:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 50%;
  background: #a14e00;
  content: "";
}

.close {
  text-shadow: none;
}

@media screen and (max-width: 768px) {
  .modal-header,
  .modal-footer {
    width: 92%;
    margin-right: 4%;
    margin-left: 4%;
  }
  .modal-body {
    padding-right: 4%;
    padding-left: 4%;
  }
}

.panel {
  color: #ffffff;
  color: #fff7f0;
  background: #f78113;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.panel.color1 {
  color: #ffffff;
  color: #fff7f0;
  background: #ca6304;
}

.panel.color1a {
  color: #ffffff;
  color: #fff7f0;
  background: #a14e00;
}

.panel.color1b {
  color: #ffffff;
  color: #fff7f0;
  background: #cf6400;
}

.panel.color1c {
  color: #ffffff;
  color: #fff7f0;
  background: #f78113;
}

.panel.color2 {
  color: #2e3612;
  color: #3d4c0a;
  background: #aee105;
}

.panel.color2a {
  color: #ffffff;
  color: #fbfff0;
  background: #7ba100;
}

.panel.color2b {
  color: #ffffff;
  color: #fbfff0;
  background: #9ecf00;
}

.panel.color2c {
  color: #3b4813;
  color: #4a5d0b;
  background: #c2f713;
}

.panel.color3 {
  color: #ffffff;
  color: #fff0f4;
  background: #e1053f;
}

.panel.color3a {
  color: #ffffff;
  color: #fff0f4;
  background: #a1002b;
}

.panel.color3b {
  color: #ffffff;
  color: #fff0f4;
  background: #cf0037;
}

.panel.color3c {
  color: #ffffff;
  color: #fff0f4;
  background: #f71350;
}

.panel.color4 {
  color: #ffffff;
  color: #f0f8ff;
  background: #0576e1;
}

.panel.color4a {
  color: #ffffff;
  color: #f0f8ff;
  background: #0053a1;
}

.panel.color4b {
  color: #ffffff;
  color: #f0f8ff;
  background: #006bcf;
}

.panel.color4c {
  color: #ffffff;
  color: #f0f8ff;
  background: #1389f7;
}

.panel-heading,
.panel-footer {
  border: none;
}

.panel-body {
  padding-bottom: 0;
}

.panel-footer {
  padding-bottom: 15px;
}

.panel-heading,
.panel-body,
.panel-footer {
  color: #ffffff;
  color: #fff7f0;
  background: #f78113;
}

.panel-heading.color1,
.panel-body.color1,
.panel-footer.color1 {
  color: #ffffff;
  color: #fff7f0;
  background: #ca6304;
}

.panel-heading.color1a,
.panel-body.color1a,
.panel-footer.color1a {
  color: #ffffff;
  color: #fff7f0;
  background: #a14e00;
}

.panel-heading.color1b,
.panel-body.color1b,
.panel-footer.color1b {
  color: #ffffff;
  color: #fff7f0;
  background: #cf6400;
}

.panel-heading.color1c,
.panel-body.color1c,
.panel-footer.color1c {
  color: #ffffff;
  color: #fff7f0;
  background: #f78113;
}

.panel-heading.color2,
.panel-body.color2,
.panel-footer.color2 {
  color: #2e3612;
  color: #3d4c0a;
  background: #aee105;
}

.panel-heading.color2a,
.panel-body.color2a,
.panel-footer.color2a {
  color: #ffffff;
  color: #fbfff0;
  background: #7ba100;
}

.panel-heading.color2b,
.panel-body.color2b,
.panel-footer.color2b {
  color: #ffffff;
  color: #fbfff0;
  background: #9ecf00;
}

.panel-heading.color2c,
.panel-body.color2c,
.panel-footer.color2c {
  color: #3b4813;
  color: #4a5d0b;
  background: #c2f713;
}

.panel-heading.color3,
.panel-body.color3,
.panel-footer.color3 {
  color: #ffffff;
  color: #fff0f4;
  background: #e1053f;
}

.panel-heading.color3a,
.panel-body.color3a,
.panel-footer.color3a {
  color: #ffffff;
  color: #fff0f4;
  background: #a1002b;
}

.panel-heading.color3b,
.panel-body.color3b,
.panel-footer.color3b {
  color: #ffffff;
  color: #fff0f4;
  background: #cf0037;
}

.panel-heading.color3c,
.panel-body.color3c,
.panel-footer.color3c {
  color: #ffffff;
  color: #fff0f4;
  background: #f71350;
}

.panel-heading.color4,
.panel-body.color4,
.panel-footer.color4 {
  color: #ffffff;
  color: #f0f8ff;
  background: #0576e1;
}

.panel-heading.color4a,
.panel-body.color4a,
.panel-footer.color4a {
  color: #ffffff;
  color: #f0f8ff;
  background: #0053a1;
}

.panel-heading.color4b,
.panel-body.color4b,
.panel-footer.color4b {
  color: #ffffff;
  color: #f0f8ff;
  background: #006bcf;
}

.panel-heading.color4c,
.panel-body.color4c,
.panel-footer.color4c {
  color: #ffffff;
  color: #f0f8ff;
  background: #1389f7;
}

.carousel-control.left {
  background: transparent;
}

.carousel-control.right {
  right: 0;
  left: auto;
  background: transparent;
}

.carousel-control .icon-prev:before {
  font-size: 44px;
  font-weight: bold;
  line-height: 44px;
  text-shadow: none;
  content: '\00ab';
}

.carousel-control .icon-next:before {
  font-size: 44px;
  font-weight: bold;
  line-height: 44px;
  text-shadow: none;
  content: '\00bb';
}

.carousel-indicators li {
  width: 22px;
  height: 22px;
  margin: 2px;
  border-radius: 24px;
}

.carousel-indicators .active {
  width: 26px;
  height: 26px;
}

.carousel-indicators li {
  border: 2px solid #f78113;
}

.carousel-indicators .active {
  background-color: #f78113;
}

.carousel-indicators.color1 li {
  border: 2px solid #f78113;
}

.carousel-indicators.color1 .active {
  background-color: #f78113;
}

.carousel-indicators.color2 li {
  border: 2px solid #c2f713;
}

.carousel-indicators.color2 .active {
  background-color: #c2f713;
}

.carousel-indicators.color3 li {
  border: 2px solid #f71350;
}

.carousel-indicators.color3 .active {
  background-color: #f71350;
}

.carousel-indicators.color4 li {
  border: 2px solid #1389f7;
}

.carousel-indicators.color4 .active {
  background-color: #1389f7;
}

.list-group {
  background: transparent;
}

.list-group-item {
  color: #ffffff;
  color: #fff7f0;
  background: #cf6400;
  border-color: #ba5a00;
}

a.list-group-item {
  color: #ffffff;
  color: #fff7f0;
}

a.list-group-item:hover,
a.list-group-item:focus {
  background-color: #d96900;
}

a.list-group-item > .list-group-item-heading {
  color: #ffffff;
  color: #fff7f0;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  color: #ffffff;
  color: #fff7f0;
  background-color: #f78113;
  border: 1px solid transparent;
  border-top-color: #f9a75a;
}

.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
  color: #feead9;
}

.list-group-item.color1 {
  color: #ffffff;
  color: #fff7f0;
  background: #cf6400;
  border-color: #ba5a00;
}

a.list-group-item.color1 {
  color: #ffffff;
  color: #fff7f0;
}

a.list-group-item.color1:hover,
a.list-group-item.color1:focus {
  background-color: #d96900;
}

a.list-group-item.color1 > .list-group-item-heading {
  color: #ffffff;
  color: #fff7f0;
}

.list-group-item.color1.active,
.list-group-item.color1.active:hover,
.list-group-item.color1.active:focus {
  color: #ffffff;
  color: #fff7f0;
  background-color: #f78113;
  border: 1px solid transparent;
  border-top-color: #f9a75a;
}

.list-group-item.color1.active .list-group-item-text,
.list-group-item.color1.active:hover .list-group-item-text,
.list-group-item.color1.active:focus .list-group-item-text {
  color: #feead9;
}

.list-group-item.color2 {
  color: #ffffff;
  color: #fbfff0;
  background: #9ecf00;
  border-color: #8fba00;
}

a.list-group-item.color2 {
  color: #ffffff;
  color: #fbfff0;
}

a.list-group-item.color2:hover,
a.list-group-item.color2:focus {
  background-color: #a6d900;
}

a.list-group-item.color2 > .list-group-item-heading {
  color: #ffffff;
  color: #fbfff0;
}

.list-group-item.color2.active,
.list-group-item.color2.active:hover,
.list-group-item.color2.active:focus {
  color: #3b4813;
  color: #4a5d0b;
  background-color: #c2f713;
  border: 1px solid transparent;
  border-top-color: #d4f95a;
}

.list-group-item.color2.active .list-group-item-text,
.list-group-item.color2.active:hover .list-group-item-text,
.list-group-item.color2.active:focus .list-group-item-text {
  color: #f5fed9;
}

.list-group-item.color3 {
  color: #ffffff;
  color: #fff0f4;
  background: #cf0037;
  border-color: #ba0032;
}

a.list-group-item.color3 {
  color: #ffffff;
  color: #fff0f4;
}

a.list-group-item.color3:hover,
a.list-group-item.color3:focus {
  background-color: #d9003a;
}

a.list-group-item.color3 > .list-group-item-heading {
  color: #ffffff;
  color: #fff0f4;
}

.list-group-item.color3.active,
.list-group-item.color3.active:hover,
.list-group-item.color3.active:focus {
  color: #ffffff;
  color: #fff0f4;
  background-color: #f71350;
  border: 1px solid transparent;
  border-top-color: #f95a85;
}

.list-group-item.color3.active .list-group-item-text,
.list-group-item.color3.active:hover .list-group-item-text,
.list-group-item.color3.active:focus .list-group-item-text {
  color: #fed9e2;
}

.list-group-item.color4 {
  color: #ffffff;
  color: #f0f8ff;
  background: #006bcf;
  border-color: #0060ba;
}

a.list-group-item.color4 {
  color: #ffffff;
  color: #f0f8ff;
}

a.list-group-item.color4:hover,
a.list-group-item.color4:focus {
  background-color: #0070d9;
}

a.list-group-item.color4 > .list-group-item-heading {
  color: #ffffff;
  color: #f0f8ff;
}

.list-group-item.color4.active,
.list-group-item.color4.active:hover,
.list-group-item.color4.active:focus {
  color: #ffffff;
  color: #f0f8ff;
  background-color: #1389f7;
  border: 1px solid transparent;
  border-top-color: #5aacf9;
}

.list-group-item.color4.active .list-group-item-text,
.list-group-item.color4.active:hover .list-group-item-text,
.list-group-item.color4.active:focus .list-group-item-text {
  color: #d9ecfe;
}

.sectional {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  color: #ffffff;
  color: #fff7f0;
  background: #ca6304;
}

.sectional .sectional-title {
  position: absolute;
  top: 12px;
  width: 100%;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.sectional.monochrome {
  color: #ffffff;
  color: #fff0f0;
  background: #676767;
}

.sectional.highlight {
  color: #ffffff;
  color: #fff7f0;
  background: #e87205;
}

.sectional.color1 {
  color: #ffffff;
  color: #fff7f0;
  background: #ca6304;
}

.sectional.color1a {
  color: #ffffff;
  color: #fff7f0;
  background: #a14e00;
}

.sectional.color1b {
  color: #ffffff;
  color: #fff7f0;
  background: #cf6400;
}

.sectional.color1c {
  color: #ffffff;
  color: #fff7f0;
  background: #f78113;
}

.sectional.color2 {
  color: #2e3612;
  color: #3d4c0a;
  background: #aee105;
}

.sectional.color2a {
  color: #ffffff;
  color: #fbfff0;
  background: #7ba100;
}

.sectional.color2b {
  color: #ffffff;
  color: #fbfff0;
  background: #9ecf00;
}

.sectional.color2c {
  color: #3b4813;
  color: #4a5d0b;
  background: #c2f713;
}

.sectional.color3 {
  color: #ffffff;
  color: #fff0f4;
  background: #e1053f;
}

.sectional.color3a {
  color: #ffffff;
  color: #fff0f4;
  background: #a1002b;
}

.sectional.color3b {
  color: #ffffff;
  color: #fff0f4;
  background: #cf0037;
}

.sectional.color3c {
  color: #ffffff;
  color: #fff0f4;
  background: #f71350;
}

.sectional.color4 {
  color: #ffffff;
  color: #f0f8ff;
  background: #0576e1;
}

.sectional.color4a {
  color: #ffffff;
  color: #f0f8ff;
  background: #0053a1;
}

.sectional.color4b {
  color: #ffffff;
  color: #f0f8ff;
  background: #006bcf;
}

.sectional.color4c {
  color: #ffffff;
  color: #f0f8ff;
  background: #1389f7;
}

.well h1:first-child,
.well h2:first-child,
.well h3:first-child,
.well h4:first-child,
.well h5:first-child,
.well h6:first-child {
  margin-top: 0;
}

body {
  padding-top: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  background-color: #ca6304;
}

html,
body {
  height: 100%;
}

#wrap {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  padding: 0 0 60px 0;
}

#bakery_navbar_nav {
  margin-top: 15px;
  background-color: #a14e00;
}

#bakery_navbar_nav .navbar-right li {
  margin: 5px;
}

#wrap .container {
  max-width: 1170px;
}

.page-header {
  border: none;
}

.cookies .name {
  width: 15em;
}

.cookies .badges {
  text-align: right;
}

#swatches {
  position: relative;
}

#swatches .swatch {
  position: relative;
  float: left;
  width: 23%;
  height: 100px;
  padding: 12px;
  padding: 0;
  margin-right: 1%;
  margin-bottom: 16px;
  margin-left: 1%;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  border-radius: 6px;
}

#swatches .swatch p {
  margin-top: 14px;
  margin-bottom: 7px;
  margin-left: 14px;
}

#swatches .swatch input {
  display: block;
  width: 100%;
  width: 90px;
  height: 38px;
  padding: 6px 12px;
  margin-left: 14px;
  font-size: 16px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: none;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#swatches .swatch input:-moz-placeholder {
  color: #999999;
}

#swatches .swatch input::-moz-placeholder {
  color: #999999;
}

#swatches .swatch input:-ms-input-placeholder {
  color: #999999;
}

#swatches .swatch input::-webkit-input-placeholder {
  color: #999999;
}

#swatches .swatch input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

#swatches .swatch input[disabled],
#swatches .swatch input[readonly],
fieldset[disabled] #swatches .swatch input {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea#swatches .swatch input {
  height: auto;
}

#swatches .swatch:last-child {
  margin-bottom: 0;
}

#swatches {
  color: #f6f9f6;
}

.color1 {
  background-color: #ca6304;
}

.color1a {
  background-color: #a14e00;
}

.color1b {
  background-color: #cf6400;
}

.color1c {
  background-color: #f78113;
}

.color2 {
  background-color: #aee105;
}

.color2a {
  background-color: #7ba100;
}

.color2b {
  background-color: #9ecf00;
}

.color2c {
  background-color: #c2f713;
}

.color3 {
  background-color: #e1053f;
}

.color3a {
  background-color: #a1002b;
}

.color3b {
  background-color: #cf0037;
}

.color3c {
  background-color: #f71350;
}

.color4 {
  background-color: #0576e1;
}

.color4a {
  background-color: #0053a1;
}

.color4b {
  background-color: #006bcf;
}

.color4c {
  background-color: #1389f7;
}