{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}Profile for {{ bakery_user.username }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
      <div class="col-md-10">
          <div class="page-header">
            <a href="{{ bakery_user.get_absolute_url }}" class="pull-right">
              <img class="img-circle img-responsive" src="{{ bakery_user.get_gravatar }}">
            </a>
            <h3>{{ bakery_user.username }}</h3>
          </div>
      </div>
  </div>
</div>

{% endblock %}
