{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}Profile for {{ bakery_user.sername }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <h2>{% blocktrans %}<span class="fn nickname">{{ bakery_user.username }}</span>{% endblocktrans %}</h2>
    </div>

    <div class="col-xs-5">
      {% if bakery_user.cookie_set.exists %}
        <h3>{% trans "Cookies" %}</h3>
        <table class="table">
          <thead>
              <tr>
                <th>#</th>
                <th>{% trans "Package" %}</th>
                <th>{% trans "Repo" %}</th>
              </tr>
          </thead>
          <tbody>
          {% for cookie in bakery_user.cookie_set.all %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href="{{ cookie.get_absolute_url }}">{{ cookie.name }}</a></td>
              <td><a href="{{ cookie.url }}">{{ cookie.repo_title }}</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
{% endblock %}
