<!DOCTYPE html>
{% load i18n %}
{% load static from staticfiles %}
{% load url from future %}
<html>
<head>
    <meta charset="utf-8">
    <title>Bakery &ndash; Cookiecutter Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# TODO: only in debug build #}
    <link rel="stylesheet/less" type="text/css" href="{% static 'less/bakery.less' %}" />
</head>
<body data-spy="scroll" data-target="#bakery_navbar">
    <div id="wrap">
        <div class="container">
            <div class="page-header">
            <nav role="navigation" class="navbar navbar-fixed-top" id="bakery_navbar">
                <div class="navbar-header">
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="{% static 'img/logo.svg' %}" height="40" class="img"></a>
                </div>

                <div class="collapse navbar-collapse" id="bakery_navbar_nav">
                    <ul class="nav navbar-nav">
                      <li><a href="#">About</a></li>
                      <li><a href="#">Documentation</a></li>
                      {% block header_nav %}{% endblock header_nav %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_authenticated %}
                            Hey {{ request.user.username }}! <a href="{% url "logout" %}">Logout!</a>
                        {% else %}
                            <li>
                                <a class="btn btn-default color2" id="github-login" href="{% url 'social:begin' 'github' %}"
                                    title="Sign in with Github">
                                    Github
                                </a>
                            </li>

                            <li>
                                <a class="btn btn-default color2" id="persona-login"
                                href="javascript:persona_login()"
                                title="Sign in with Persona">
                                Persona
                                </a>

                                <!-- Define a form to send the POST data -->
                                <form method="post" action="/complete/persona/" id="persona-login-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="assertion" id="persona-assertion" value="">
                                </form>
                            </li>
                        {% endif %}
                    </ul>

                </div>
            </nav>
            {% block content %}{% endblock content %}
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/vendor/jquery.min.js' %}" type="application/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/vendor/bootstrap.min.js' %}" type="application/javascript"></script>

    <script src="{% static 'js/vendor/less.min.js' %}"></script>

    <!-- Include BrowserID JavaScript -->
    <script src="https://login.persona.org/include.js" type="text/javascript"></script>

    <!-- Setup click handler that retieves Persona assertion code and sends POST data -->
    <!-- TODO: this does not belong here! -->
    <script type="text/javascript">
      function persona_login() {
          navigator.id.get(function(assertion) {
              if (assertion) {
                  var assertion_field = document.getElementById("persona-assertion");
                  assertion_field.value = assertion;
                  var login_form = document.getElementById("persona-login-form");
                  login_form.submit();
              }
          });
      }
    </script>

</body>
</html>
