{% extends "base.html" %}

{% block content %}
<h4>Cookies</h4>
<table class="table table-condensed cookies color1">
    {% for cookie in object_list %}
    <tr class="cookie">
        <td class="name">{{ cookie.name }}</td>
        <td class="description">{{ cookie.short_description }}</td>
        <td class="badges">
            <span class="badge color3b">{{ cookie.language }}</span>

            {% if cookie.activity == 0 %}
            <span class="badge color1a">ancient</span>
            {% elif cookie.activity == 1 %}
            <span class="badge color1c">active</span>
            {% else %}
            <span class="badge color2b">very active</span>
            {% endif %}
        </td>
        {% if request.user.is_authenticated %}
            <td>
                {% if cookie.pk in voted_cookie_ids %}
                    <form action="{% url 'socialize:unvote' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="c" value="{{ cookie.id }}">
                        <input type="submit" value="&#x1f36a;" title="Vote" class="btn btn-xs btn-primary">
                    </form>
                {% else %}
                    <form action="{% url 'socialize:vote' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="c" value="{{ cookie.id }}">
                        <input type="submit" value="&#x1f36a;" title="Vote" class="btn btn-xs btn-default">
                    </form>
                {% endif %}
            </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock content %}
