{% extends "base.html" %}

{% block content %}
<h4>Cookies</h4>
<table class="table table-condensed cookies color1">
    {% for cookie in object_list %}
    <tr class="cookie">
        <td class="name">{{ cookie.name }}</td>
        <td class="description">{{ cookie.short_description }}</td>
        <td class="badges">
            <span class="badge color3b">{{ cookie.language }}</span>

            {% if cookie.activity == 0 %}
            <span class="badge color1a">ancient</span>
            {% elif cookie.activity == 1 %}
            <span class="badge color1c">active</span>
            {% else %}
            <span class="badge color2b">very active</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
