{% extends "base.html" %}

{% block content %}
<div id="palette" class="sectional color1">
    <div class="container">
        <div class="row section">
            <div class="col-lg-5 col-md-5">
                <h1 class="section-headline">Palette</h1>
            </div>
            <div class="col-lg-7 col-md-7">
                <div id="swatches" class="row">
                    <div class="swatch color1">
                        <p>@color1</p>
                        <input type="text" value="#ed8c2b"/>
                    </div>
                    <div class="swatch color1a">
                        <p>@color1a</p>
                        <input type="text" value="#c66606"/>
                    </div>
                    <div class="swatch color1b">
                        <p>@color1b</p>
                        <input type="text" value="#f58514"/>
                    </div>
                    <div class="swatch color1c">
                        <p>@color1c</p>
                        <input type="text" value="#f2ad69"/>
                    </div>
                    <div class="swatch color2">
                        <p>@color2</p>
                        <input type="text" value="#c4ef43"/>
                    </div>
                    <div class="swatch color2a">
                        <p>@color2a</p>
                        <input type="text" value="#96c606"/>
                    </div>
                    <div class="swatch color2b">
                        <p>@color2b</p>
                        <input type="text" value="#bdf514"/>
                    </div>
                    <div class="swatch color2c">
                        <p>@color2c</p>
                        <input type="text" value="#d0f269"/>
                    </div>
                    <div class="swatch color3">
                        <p>@color3</p>
                        <input type="text" value="#ef436e"/>
                    </div>
                    <div class="swatch color3a">
                        <p>@color3a</p>
                        <input type="text" value="#c60636"/>
                    </div>
                    <div class="swatch color3b">
                        <p>@color3b</p>
                        <input type="text" value="#f5144c"/>
                    </div>
                    <div class="swatch color3c">
                        <p>@color3c</p>
                        <input type="text" value="#f2698b"/>
                    </div>
                    <div class="swatch color4">
                        <p>@color4</p>
                        <input type="text" value="#4399ef"/>
                    </div>
                    <div class="swatch color4a">
                        <p>@color4a</p>
                        <input type="text" value="#0666c6"/>
                    </div>
                    <div class="swatch color4b">
                        <p>@color4b</p>
                        <input type="text" value="#1485f5"/>
                    </div>
                    <div class="swatch color4c">
                        <p>@color4c</p>
                        <input type="text" value="#69adf2"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
