{% extends "base.html" %}

{% block content %}
<h1>Style Demo</h1>

<div class="grid">
   <div class="col-2-3">
     <div class="module">
       <h3>2/3</h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
     </div>
   </div>
   <div class="col-1-3">
     <div class="module">
            <h3>1/3</h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies</p>
     </div>
   </div>
</div>

<div class="grid grid-pad">
   <div class="col-2-3">
     <div class="module">
            <h3>2/3 (Opt-in Outside Padding)</h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
     </div>
   </div>
   <div class="col-1-3">
     <div class="module">
            <h3>1/3</h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam.</p>
     </div>
   </div>
</div>

<div class="grid grid-pad">
   <div class="col-1-8">
     <div class="module">
            <h3>1/8</h3>
     </div>
   </div>
   <div class="col-1-8">
     <div class="module">
            <h3>1/8</h3>
     </div>
   </div>
  <div class="col-1-8">
     <div class="module">
            <h3>1/8</h3>
     </div>
   </div>
  <div class="col-1-8">
     <div class="module">
            <h3>1/8</h3>
     </div>
   </div>
  <div class="col-1-8">
     <div class="module">
            <h3>1/8</h3>
     </div>
   </div>
  <div class="col-1-8">
     <div class="module">
            <h3>1/8</h3>
     </div>
   </div>
  <div class="col-1-8">
     <div class="module">
            <h3>1/8</h3>
     </div>
   </div>
  <div class="col-1-8">
     <div class="module">
            <h3>1/8</h3>
     </div>
   </div>
</div>

<div class="grid grid-pad">
   <div class="col-1-4">
     <div class="module">
            <h3>1/4</h3>
     </div>
   </div>
   <div class="col-1-2">
     <div class="module">
            <h3>1/2</h3>
     </div>
   </div>
  <div class="col-1-4">
     <div class="module">
            <h3>1/4</h3>
     </div>
   </div>
</div>


{% endblock content %}
