@import "scheme.less";
@import "vendor/variables.less";
@import "vendor/mixins.less";

body {
    font-family: @font-family-sans-serif;
    font-size: 13px;
    line-height: 20px;
    padding-top: 50px;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding: 0 0 60px 0;
}

#bakery_navbar_nav {
    margin-top: 15px;

    .navbar-right li {
      margin: 5px;
    }
}

#wrap .container {
  max-width: 1170px;
}

.page-header {
    border: none;
    @media (max-width: @screen-desktop) {
        h2.long {
            display: none;
        }
        h2.short {
            display: inline-block;
        }
    }
    @media (min-width: @screen-desktop) {
        h2.long {
            display: inline-block;
        }
        h2.short {
            display: none;
        }
    }

}


.cookies {
    .name {
        font-weight: bold;
    }
    .badges {
        text-align: right;
    }
    @media (max-width: @screen-desktop) {
        .actions {
            display: none;
        }
    }
    @media (min-width: @screen-desktop) {
        .actions {
        display: inline-block !important;
        }
    }
}


h2.shoutout {
    float: right;
}

@import "swatches.less";
