@import "scheme.less";
@import "vendor/bootstrap.less";
@import "1pxdeep.less";


body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    padding-top: 50px;
    background-color: @color1;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding: 0 0 60px 0;
}

#bakery_navbar_nav {
    background-color: @color1a;
    margin-top: 15px;

    .navbar-right li {
      margin: 5px;
    }
}

#wrap .container {
  max-width: 1170px;
}

.page-header {
  border: none;
}

@import "swatches.less";
